@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --light-primary-color: #002342;
  --primary-color: #154269;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav img {
  height: 30px;
}

form {
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 300px;
  padding: 1em 2em;
  background-color: #f7f7f7;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-100%) scale(0);
  z-index: 99;
  display: none;
  opacity: 0;
  transition: all 2s ease-in;
  color: var(--light-primary-color);
}

.show-form {
  display: block;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

form input,
form button {
  width: 90%;
  padding: 0.25em 0;
  margin: 0.25em auto;
  outline: none;
}

form input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--primary-color);
  cursor: pointer;
}

form input:focus {
  border: 1.5px solid var(--light-primary-color);
  outline: none;
}

form button {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 0.5em 0;
  border-radius: 2em;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0.5em 0;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: left;
  padding-right: 0.15em;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.05rem;
}

.cv-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  justify-content: space-between;
  align-items: stretch;
  margin: 1em 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.pl-2 {
  padding-left: 0.5em;
}

.my-2 {
  margin: 0.25em 0;
}

.cv-grid .personal-info {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 0;
}

.personal-info h2 {
  background-color: var(--light-primary-color);
  text-transform: uppercase;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

a {
  color: #fff;
  text-decoration: none;
}

i {
  margin-right: 0.5em;
}

.cv-main {
  padding: 0.75em 0.25em;
  /* border: 1px solid green; */
}

.cv-main h2 {
  padding: 0.25em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
}

.cv-main h3 {
  color: var(--primary-color);
}
.cv-main-section {
  margin: 1.5em 0;
}

.btn-div {
  text-align: center;
  margin-bottom: 1em;
}

.modal-show {
  padding: 0.5em 3em;
  color: #fff;
  background-color: var(--light-primary-color);
  outline: none;
  border: none;
  border-radius: 4em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 768px) {
  form {
    width: 500px;
  }

  .cv-maing {
    padding: 0.75em 0.5em;
  }
}
